@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
  font-family:'Quicksand', sans-serif;
  background-color: #dddddd;
  background: url("../images/pidgeon-background.jpg");
  background-repeat: no-repeat;
}

body:focus{
  border: 1px solid red;
}

h1{
  font-size: 2em;
  line-height: 1.5em;
  color: #c12258;
}

p{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}

a{
  font-size: 18px;
  color: #c12258;
}

table{
  border: 2px solid black;
  border-radius: 10px;
  border-collapse: separate;

}

.colhead{
  min-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0830;
}

.colhead:nth-child(1){
  border-top-left-radius:10px;
}

.colhead:nth-child(7){
  border-top-right-radius:10px;
}

td{
  text-align: center;
  border-top: 2px solid black;
  padding: 10px;
}

th{
  text-align: center;
  border-top: 2px solid black;
  padding: 10px;
}

tbody tr:nth-child(10) th{
  border-bottom-left-radius:10px;
}

tbody tr:nth-child(10) td:nth-child(7){
  border-bottom-right-radius:10px;
}

tr:nth-child(even){
  background-color: #dddddd;
}
tr:nth-child(odd){

}

tr:hover{
  background-color: #fab9cf;
}

footer{
  background: black;
  color: white;
  text-align: center;
  min-height: 60px;
  position:absolute;
  bottom:0;
  width:100%;
}

footer p{
  color: white;
}
